SUNGROW_URL=https://gateway.isolarcloud.com.hk/openapi
SUNGROW_APP_KEY=
SUNGROW_ACCESS_KEY=
SUNGROW_SYS_CODE=
HUAWEI_URL=https://sg5.fusionsolar.huawei.com
SUNGROW_ACC_001_PASSWORD=
HUAWEI_ACC_001_SYSTEM_CODE=
